@import '../styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f4ef;
}

.card {
  background-color: #342f3d;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: $yellow-bg;
  margin-bottom: 1rem;
}

.message {
  color: #ff6b6b;
  text-align: center;
  margin-bottom: 1rem;
}

.label {
  display: block;
  color: white;
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 14px 16px;
  background-color: #3e384a;
  color: white;
  border: 2px solid #555;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1rem;

  &::placeholder {
    color: #bbb;
    font-weight: 500;
  }

  &:focus {
    outline: none;
    border-color: $yellow-bg;
    background-color: $purple-bg;
  }
}

.button {
  width: 100%;
  background-color: $purple-bg;
  color: $yellow-bg;
  padding: 16px;
  font-size: 17px;
  font-weight: 700;
  border: 2px solid $yellow-bg;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $yellow-bg;
    color: #000;
    border-color: $yellow-bg;
  }
}

.link {
  text-align: center;
  margin-top: 1rem;

  button {
    color: $yellow-bg;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }
}
