.section {
  display: flex;
  gap: 0;
  width: 100%;
}

.card {
  flex: 1 0 auto;
  margin: 0;
  height: 380px;
  box-shadow: -1px 0 15px -1px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 6px;

  a {
    color: #fdfdfd !important; // Добавляем !important для приоритета
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}