@import '../../styles/variables';

.footer {
  width: 100%;
  background-color: $purple-bg;
  padding: 40px 20px;
  color: white;
  display: flex;
  justify-content: center; // Центрирует .container

  .container {
    width: 100%;
    max-width: 1920px;
  }

.columns {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 150px; // Увеличил расстояние между колонками
  width: max-content;
  margin: 0 auto;
}

.columns > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}





}

